.PlanetaNome {
    color: #fbde33;
    margin: 0;
    padding-bottom: 2em;
    border-bottom: 1px solid white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poller One', cursive;
}

.PlanetaDetalhe {
    border: 1px solid #000;
    width: 30%;
    padding: 3em;
    display: inline-block;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: left;
  }

.BtnPlaneta {
    display: block;
    padding: 0.5em;
    margin: 20px auto;
    background-color: #fbde33;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    outline: none;
    font-family: 'Poller One', cursive;
}

.BtnPlaneta:hover {
    background: #000;
    border: 1px solid #fbde33;
    color: #fff;
}

li {
    list-style: none;
}

span {
    font-size: 18px;
    font-weight: bold;
    color: #fbde33;
    font-family: 'Poller One', cursive;
}
