.App {
  text-align: center;
  background: url("https://i.ytimg.com/vi/PlLPt3C54mE/maxresdefault.jpg") no-repeat;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}